# Don't ignore these directories BUT do ignore their contents
data/mysql/*
data/redis/*

# Ignore PHPStorm project directory
.idea

# Ignore installed packages from Composer
src/backend/tests/vendor

# Ignore the database access password
src/resources/database_password

# Ignore private documentation files
docs/
