# Don't ignore these directories BUT do ignore their contents
data/mysql/*
data/redis/*

# Ignore installed packages from Composer
src/tests/vendor

# Ignore the database access password
src/resources/database_password
