
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sansita+Swashed&family=JetBrains+Mono&display=swap');

body,input {
    font-family: 'Lato';
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita Swashed';
}

code,pre {
    font-family: 'JetBrains Mono';
}