
* {
    color: var(--color-text);
}

body {
    background-color: var(--color-offwhite);
}

header h1 {
    background-color: var(--color1);
    padding: 1rem;
    box-shadow: var(--shadow);
}

article {
    background: linear-gradient(-25deg, var(--color3-dark), var(--color3));
}

fieldset {
    p {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem 0;

        label {
            width: 25%;
            text-align: right;
        }

        input {
            width: 25%;
        }
    }
}

input {
    background-color: transparent;
}

button {
    box-shadow: var(--shadow);
}