
// Yes, I know these are CSS variables and not SCSS ones

:root {
    --color1: #ff58a0;
    --color2: #A0FF58;
    --color3: #58A0FF;
    --color3-dark: #2583FF;
    --color-text: #123;
    --color-shadow: #444;
    --color--offwhite: whitesmoke;

    --shadow: #11223344 0 0.5rem 2rem 0;
}
